<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util-3.2.xsd

            ">

    <util:properties id="auditoriumProps" location="classpath:auditoriums.properties" />
    <util:properties id="defaultEvensProps" location="classpath:defaultEvens.properties" />
    <util:properties id="defaultUsers" location="classpath:defaultUsers.properties" />

    <bean id="userService" class="ua.epam.course.spring37.cinema.service.impl.UserServiceImpl"
          init-method="init"
          p:properties="#{defaultUsers}"
    />
    <bean id="auditoriumService" class="ua.epam.course.spring37.cinema.service.impl.AuditoriumServiceImpl"
          init-method="init"
          p:properties="#{auditoriumProps}"
    />
    <bean id="eventsService" class="ua.epam.course.spring37.cinema.service.impl.EventServiceImpl"
          init-method="init"
          p:auditoriumService="#{auditoriumService}"
          p:properties="#{defaultEvensProps}"
    />
    <bean id="discountService" class="ua.epam.course.spring37.cinema.service.impl.DiscountServiceImpl"
    />
    <bean id="bookingServiceImpl" class="ua.epam.course.spring37.cinema.service.impl.BookingServiceImpl"
          p:userService="#{userService}"
          p:discountService="#{discountService}"
          p:eventService="#{eventsService}"
    />


    <!--<bean id="shell" class="ua.epam.course.spring37.cinema.shell.UserCommand" />-->


</beans>